$images: "/assets/images/layout";

$font: Arial, Helvetica, sans-serif;

$colors: (
  primary: #1b182d,
  secondary: #7adbd4
);

$icons: (
  icon: "\e923"
);

$line-heights: (
  12: 12,
  14: 14,
  16: 16,
  18: 18,
  20: 20
);
